aside.widgets {
  width: 290px;
  margin-top: 10px;
}

aside.widgets .widget {
  background: #fff;
  padding: 15px;
}

aside.widgets .widget .title {
  display: flex;
  align-items: baseline;
}

aside.widgets .widget .title strong {
  font-size: 18px;
  color: #1f2226;
}

aside.widgets .widget .title a {
  color: #3bb9e3;
  font-size: 12px;
  text-decoration: none;
  position: relative;
  padding-left: 10px;
}

aside.widgets .widget .title a::before {
  content: "";
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: #222;
  position: absolute;
  left: 4px;
  top: 6px
}

aside.widgets .follow ul {
  list-style: none;
  margin-top: 10px;
}

aside.widgets .follow ul li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccd6dd;
  padding-bottom: 10px;
  padding-top: 10px;
}

aside.widgets .follow ul li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border: 0;
}

aside.widgets .follow ul li .profile {
  display: flex;
  align-items: center;
}

aside.widgets .follow ul li .profile img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

aside.widgets .follow ul li .profile .info {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

aside.widgets .follow ul li .profile .info strong {
  font-size: 14px;
  color: #1f2326;
}

aside.widgets .follow ul li .profile .info strong span {
  font-weight: normal;
  color: #9a9a9a;
}

aside.widgets .follow ul li .profile .info button {
  height: 27px;
  margin-top: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  font-weight: bold;
  font-size: 14px;
  color: #3bb9e3;
  border: 1px solid #3bb9e3;
  border-radius: 16px;
}

aside.widgets .follow ul li>a {
  color: #ccd6dd;
  text-decoration: none;
  font-size: 14px;
}